@font-face {
    font-family: 'Moderniz';
    src: url('../fonts/Moderniz.woff') format('woff');
}

.name-holder{
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(14,14,57,1) 100%);
    border-color: rgb(39, 39, 120);
    height: 100px;
    width: 200px;
    right: 25px;
    top: 25px;
}

.p-name{
    color:white;
    font-family: Moderniz;
    -webkit-animation: 1s ease-in-out infinite alternate;
    -moz-animation: 1s ease-in-out infinite alternate;
    animation: 1s ease-in-out infinite alternate;
    font-size: 1vw;
    text-align: center;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e67b00, 0 0 40px #e69200, 0 0 50px #e69900, 0 0 60px #e67b00, 0 0 70px #e69900;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #f0e9cf, 0 0 40px #fcecc9, 0 0 50px #ffd1e8, 0 0 60px #e99651, 0 0 70px #ffaf4d, 0 0 80px #ffa94d;
    }
}

.char-holder{
    overflow: hidden;
    position: relative;
    height: 1000px;
    width: 200px;
    right: 25px;
    top:25px;
}

.p-char{
    position: relative;
    bottom: 200px;
    right: 900px;
    height: 1500px;
    width: 1500px;
    opacity: 0;
}

.team-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;

    position: absolute;
    width: 75%;
    height: 100%;
}

.role-image {
    margin-top: 25px;    
    margin-bottom: 0px;  
    width: 80%;            
    height: auto;          
    align-self: center;    
    object-fit: contain;   
}

.player-holder{
    width: 150px;
    height: 650px;
    margin: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
}